@font-face {
    font-family: nunito;
    src: url('../fonts/nunito-regular.otf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: nunito;
    src: url('../fonts/nunito-italic.otf');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: nunito;
    src: url('../fonts/nunito-bold.otf');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: nunito;
    src: url('../fonts/nunito-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root{
    font-size: 18px;
    --white30: #fff;
    --white20: #a5a3a5;
    --white10: #616161;
}
summary{
    cursor: pointer;
    outline: 0;
}
body {
    color: var(--white30);
    font-family: 'nunito', sans-serif;
    background: #251F24;
    margin: 0;
    
}
a {
    color: var(--white30);
}

.header {
    position: sticky;
    inset-block-start: -45px;
}
.header-content {
    position: relative;
    inset-block-start: 65px;
}
header {
    font-size: 14px;
    color: var(--white30);
    position: absolute;
    inset-inline-start: -208px;
    inline-size: 188px;
}
header a{
    font-size: 14px;
    color: var(--white10);
    text-decoration: none;
}
header li {
    color: var(--white10);
    margin-block-end: 16px;
}
header a:hover{
    color: var(--white30);
}
nav details summary{
    font-weight: bold;
}
h1, h2 {
    font-weight: 700;
}
h1 {
    font-size: 3.75em;
    margin-block-start: 64px;
    margin-block-end: 16px;
}
h2 {
    font-size: 2em;
    margin-block: 40px;
}
h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px;
}
hr {
    margin-block: 40px;
    border-color: rgba(97, 97, 97, 0.2);
}
pre {
    background: var(--white10);
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    border: 10px solid #5551ff;
    box-shadow: -10px 10px 0 0 #abaaf6;
    margin-block-end: 30px;
}
p{
    color: var(--white20); 
}
.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    height: 350px;
}
.section-content {
    counter-reset: titleList;
}
.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}
.section-content h3{
    counter-increment: titleList;
}
.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}
/* .section-content h3::after {
    content: '';
    width: 32px;
    height: 4px;
    background: var(--white30);
    display: inline-block;
} */
blockquote {
    margin-block-start: 80xp;
    margin-block-end: 63px;
    background-color: var(--white10);
    border-radius: 8px;
    padding-inline-end: 24px;
    padding-inline-start: 24px;
    padding-block-end: 24px;
    padding-block-start: 24px;
    line-height: 32px;
    font-size: 24px;
}
blockquote p {
    color: var(--white30);
}
.main hr {
    display: none;
}
.main {
    /* border: ipx solid red; */
}
.wrapper {
    max-inline-size: 902px;
    margin: auto;
}
.main-content {
    padding-inline: 16px;
}